In [1]:
import pandas as pd
import numpy as np

In [2]:
#1
myDF = pd.read_csv('test1.csv')
myDF.head()

   ID  Range  Value Type Zip Code Model   Cost      Continent
0  10    192     50    F   NXEYEM  EX85  [56$]           Asia
1  20    299     21    M   VNFKZD  CT41  [18$]           Asia
2  30    378     28    X   IMGMFY  VN81  [90$]  North America
3  40    156     44    Q   RHRHJY  IR14  [89$]           Asia
4  50    468     33    J   HPQCMC  QX90  [95$]         Africa

In [3]:
#2
myDF.info()
myDF.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         950 non-null    int64
 1   Range      950 non-null    int64
 2   Value      950 non-null    int64
 3   Type       948 non-null    object
 4   Zip Code   941 non-null    object
 5   Model      950 non-null    object
 6   Cost       950 non-null    object
 7   Continent  950 non-null    object
dtypes: int64(3), object(5)
memory usage: 59.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         950 non-null    int64
 1   Range      950 non-null    int64
 2   Value      950 non-null    int64
 3   Type       948 non-null    object
 4   Zip Code   941 non-null    object
 5   Model      950 non-null    object
 6   Cost       950 non-null    object
 7   Continent  950 non-null    object
dtypes: int64(3), object(5)
memory usage: 316.8 KB

In [4]:
myDF.memory_usage()

Index         128
ID           7600
Range        7600
Value        7600
Type         7600
Zip Code     7600
Model        7600
Cost         7600
Continent    7600
dtype: int64

In [5]:
myDF.dtypes

ID            int64
Range         int64
Value         int64
Type         object
Zip Code     object
Model        object
Cost         object
Continent    object
dtype: object

In [6]:
#4 
myDF[['Continent']] = myDF[['Continent']].astype('category')
myDF.dtypes

ID              int64
Range           int64
Value           int64
Type           object
Zip Code       object
Model          object
Cost           object
Continent    category
dtype: object

In [7]:
#5 
dict(zip(myDF['Continent'].cat.codes, myDF['Continent']))

{2: 'Asia',
 5: 'North America',
 0: 'Africa',
 4: 'Europe',
 1: 'Antarctica',
 6: 'South America',
 3: 'Australia'}

In [8]:
#6 It uses less memory

In [9]:
#7
myDF = pd.read_csv('test1.csv')

In [10]:
# 8 
mySchool = pd.read_csv('test2.csv')

In [11]:
describe()

NameError: name 'describe' is not defined